.footer {
  text-align: center;
  margin-bottom: 29px;

  @media screen and (min-width: 800px) {
    text-align: start;
    margin-left: 346px;
  }

  & p {
    @media screen and (min-width: 800px) {
      display: none;
    }
  }
}
