.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: $bg-backdrop;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px 94px 15px;
  overflow-y: scroll;
  z-index: 3;

  @media screen and (min-width: 620px) and (max-width: 1400px) {
    right: 0;
    padding: 208px 159px 207px 159px;
  }
  @media screen and (min-width: 1400px) {
    padding: 0;
  }

  @media screen and (min-width: $desctop) {
    width: 100%;
    height: 100%;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(0%, 0%) scale(0);
}

.backdrop-close-modal {
  width: 100%;
  height: 100%;
}

.modal {
  position: relative;
  padding: 40px;
  background: $bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;

  transition: $animation;

  @media screen and (min-width: 1024px) {
    // height: 550px;
    padding: 0;
  }

  @media screen and (min-width: $desctop) {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    // min-height: 581px;
    box-sizing: border-box;
    transform: translate(-50%, -50%) scale(1);
  }
}

.cloсe {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: $secondary-bg-color;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: " ";

    height: 15px;
    width: 1px;
    background-color: black;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }

  &:hover.cloсe::before,
  &:hover.cloсe::after {
    background-color: $accent-color;
  }
}

.title-modal {
  font-family: $base-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  @media screen and (min-width: 1024px) {
    font-size: 34px;
  }
}

.text-modal {
  font-family: $base-font;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: $primary-text-color;
}

.form-field {
  position: relative;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.form-field label {
  font-weight: 600;
  font-size: 9px;
  line-height: 1.3;
  letter-spacing: 0.0025em;
}

input,
textarea {
  outline: 0;
}

.form-text {
  @extend %input-text-stile;
  padding: 12px 16px 12px 16px;
  &:focus {
    border: 1px solid $accent-color;
    cursor: pointer;
  }
}

.form-input {
  @extend %input-text-stile;
  &:focus {
    border: 1px solid $accent-color;
    cursor: pointer;
  }
  &:focus + .modal-svg {
    fill: $accent-color;
  }
}

.telephone {
  width: 100%;
}

.form-check {
  margin-top: 20px;

  @media screen and (min-width: $desctop) {
    margin-left: 10px;
    margin-right: 6px;
  }
}

.check-icon {
  position: relative;
  top: 2px;
  left: 0;
  margin-right: 6px;

  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #d5d5d6;
  border-radius: 4px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .check-field:checked + & {
    border-color: $accent-color;
    background-color: $accent-color;
    background-image: url(../images/icon_check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.check-field {
  position: absolute;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */

  left: -9999px;
  visibility: hidden;
}

::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

textarea {
  resize: none;
}

.agreement-linc {
  color: $accent-color;
}

.form-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
}
.submit {
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.agreement {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;

  @media screen and (min-width: $desctop) {
    font-size: 14px;
  }
}

.modal-flex {
  display: flex;
}

.modal-wrap-pic {
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.modal-pic {
  width: 100%;
  height: 100%;
  border-radius: 25px 0 0 25px;

  @media screen and (min-width: 1400px) {
    width: 390px;
    // height: 581px;
  }
}

.form-wraper {
  @media screen and (min-width: 1024px) {
    padding: 28px 32px;
    box-sizing: border-box;
  }

  @media screen and (min-width: 1400px) {
  }
}

.form-check-text {
  font-weight: 400;
  font-size: 9.75px;
  line-height: 11px;
  color: $secondary-color;

  @media screen and (min-width: 1024px) {
    font-size: 10px;
  }
}

.form-footer {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: #bdbdbd;
  margin-left: 75px;

  &::before {
    content: "";
    display: block;
    margin-right: 6px;
    width: 22px;
    height: 14px;
    background-size: cover;
    background-image: url("../images/icon.png");
  }
}

.error-value {
  border: red 2px solid;
}

.name-error,
.tel-error {
  color: red;
}

.not-visible {
  display: none;
}
