$primary-text-color: #001e41;
$secondary-color: #919191;
$accent-color: #5d78ff;
$bg-color: #ffffff;
$secondary-bg-color: #f8f8fa;
$third-bg-color: #e3eeff;
$bg-backdrop: rgba(0, 0, 0, 0.2);
$bg-after: #e5e5e5;
$link-color: #7d7d7d;
$bg-hero: #e2f2ff;
$bg-circle: #e3eeff;

$base-font: Roboto, sans-serif;
$second-font: SourceSansPro;
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
